.App {
  margin-top: 60px;
  padding: 30px;
  text-align: center;
  align-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}

.Header {
  text-align: left;
  align-content: left;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
}

.register-form {
  text-align: left;
  align-content: left;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
}

/* to set colour for NavBar drop down background */
div.dropdown-menu.show {
  background-color: grey;
}

/* to set colour for NavBar drop down link text */
a.dropdown-item {
  color: #ffffff;
}
